@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
@Umbraco.RenderMacro("HomepageBanner")
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u">
                @Umbraco.RenderMacro("Features")
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @Umbraco.RenderMacro("NewsOverviewWidget")
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
